tmp/*
var/log/*

# OS X files
*.DS_STORE
*.xcworkspace

# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
bin/
*.exe
*.out
*.app

# Configurations
etc/
*.ini