etc/
bin/*
tmp/*
var/log/*

# Mac OS X files
*.DS_STORE
*.xcworkspace

# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
